<div class="app-main-container">
  <div class="slider-container">
    <div id="slider">
<figure>
<div class="slides-text">
  <h1>Basketball Free Agents!</h1>
  <p class="description">Where will NBA Free Agents go?</p>
    <a class="button" href="/users/sign_in">Sign up!</a>
  </div>
    <img src="images/bbal.jpg" alt>
    <img src="images/bbal2.jpg" alt>
    <img src="images/court.jpg" alt>
    <img src="images/bbal.jpg" alt>
    <img src="images/bbal2.jpg" alt>
</figure>
</div>
</div>
<div id="app">
</div>

</div>
