/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */
body {
  padding: 0;
  font-family: "Titillium Web",Arial,sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #2b2b2b;
  background-color: #fff;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased
}

h1,h2,h3,h4 {
  font-family: "Titillium Web",Arial,sans-serif;
  font-weight: 900;
}

.app-main-container {
  margin-top: -22px;
  background: rgba(255,255,255,1);
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 22%, rgba(153,147,153,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(22%, rgba(246,246,246,1)), color-stop(100%, rgba(153,147,153,1)));
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 22%, rgba(153,147,153,1) 100%);
  background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 22%, rgba(153,147,153,1) 100%);
  background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 22%, rgba(153,147,153,1) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 22%, rgba(153,147,153,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#999399', GradientType=0 );
  padding-bottom: 100px;
}

.top-bar {
  height: 75px;
  padding: 10px;
}

.top-bar .name h1 a,
.top-bar .name h1 a:hover,
.top-bar .name h1 a:focus {
  font-size: 40px;
  font-family: "Titillium Web",Arial,sans-serif;
  font-weight: 900;
  text-decoration: none;
}

.top-bar .name h1 a:hover,
.top-bar .name h1 a:focus {
  opacity: 0.7;
}
.top-bar-section{

}
.top-bar-section ul {
  margin-right: 20px;
  width: auto;
  display:inline-block;
}
.top-bar .title-area{
display:inline-block;
}

.top-bar-section ul li {
  float: none;
  display: inline-block;
  background: none;
  text-align: center;
}

.top-bar-section .right li a,
.top-bar-section li:not(.has-form) a:not(.button) {
  background-color: #ea5b0c;
  border-radius: 5px;
  font-family: "Titillium Web",Arial,sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #fff;
  line-height: 2;
  margin: 10px;
}

a {
  font-family: "Titillium Web",Arial,sans-serif;
  color: #ea5b0c;
  text-decoration: none
}

a:hover,a:focus {
  color: #ea5b0c;
  text-decoration: underline
}

a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px
}

.side-bar-section {
  height: 70px;
  text-align: left;
  display: inline-block;
}

#back-button {
  text-transform: uppercase;
  width: 125px;
  line-height: 1.4;
  border-radius: 10px;
  font-family: "Titillium Web",Arial,sans-serif;
  font-weight: 600;
  background-color: #ea5b0c;
}

.button.secondary.small {
  text-transform: uppercase;
  border-radius: 10px;
  width: 125px;
  line-height: 1.4;
  font-family: "Titillium Web",Arial,sans-serif;
  font-weight: 600;
  background-color: #000;
  color: #ea5b0c;
}

.side-bar-section ul.top .back-button,
  .side-bar-section a.button.secondary.small {
  display: inline-block;
  border-radius: 10px;
  font-size: 0.8125rem;
  line-height: 2;
  padding: 5px 10px;
}

.side-bar-section ul.top #back-button {
  padding: 5px 10px;
  border: 2px solid #000;
}

#page-numbers li.button {
  display: inline-block;
  box-sizing: content-box;
  width: 15px;
    line-height: 28px;
  background-color: #ea5b0c;
  border-radius: 30px;
  margin-right: 4px;
  padding: 8px 16px;
  font-family: "Titillium ",Arial,sans-serif;
  font-weight: 900;
  border: 3px solid #000;
}

.main-wrapper {
  position: relative;
  margin: 0 auto;
  text-align: center;
  max-width: 800px;
  border: 2px solid #ccc;
  border-radius: 10px;
  background-color: #fff;
  margin-bottom: 100px;
}

.players-wrapper,
.teams-wrapper {
  position: relative;
  margin: 0 auto;
}

.search-wrapper {
  width: 80%;
  padding: 0;
  display: inline-block;
}

.search-container {
  position: relative;
  display: inline-block;
  width: 100%;
}

.search-container .input-field input {
  border-bottom-color: #b3b3b3;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-left-color: #b3b3b3;
  border-left-style: solid;
  border-left-width: 1px;
  border-right-color: #b3b3b3;
  border-right-style: solid;
  border-right-width: 1px;
  border-top-color: #b3b3b3;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-top-style: solid;
  border-top-width: 1px;
}

.search-container .input-field label {
  font-family: "Titillium Web",Arial,sans-serif;
  font-weight: 900;
  color: #ea5b0c;
  font-size: 16px;
}

button.vote {
  display: inline-block;
  border-radius: 7px;
  margin-left: 4px;
  border: 2px solid #000;
  background-color: #ccc;
}

button.vote.upvoted {
  background-color: green;
}

button.vote.downvoted {
  background-color: red;
}

img {
  max-width: 100%;
  vertical-align: middle
}

input[type=text],input[type=email],textarea {
  font-family: "Titillium Web",Arial,sans-serif;
  font-size: 12px;
  border-width: 1px
}

input[type=text]:focus,input[type=email]:focus,textarea:focus {
  outline: 0
}

input[type=password] {
  font-family: "Titillium Web",Arial,sans-serif;
  font-size: 12px
}

.player-tile,
.team-tile,
.team-on-team-show,
.players-on-team-show   {
  vertical-align: top;
  min-width: 300px;
  display: inline-block;
  background-color: #ea5b0c;
  width: 30%;
  margin: 1%;
  border: 3px solid #000;
  border-radius: 4px;
  padding: 6px;
  text-align: center;
}

.player-tile h4,
.team-tile h4,
.team-on-team-show h2,
.players-on-team-show h4  {
  font-family: "Titillium Web",Arial,sans-serif;
  font-size: 24px;
  font-weight: 900;
  color: #fff;
}

.player-tile img,
.team-tile img,
.team-on-team-show img,
.players-on-team-show img {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
  border: 3px solid #fff;
  background-color: #fff;
}

.player-tile a,
.team-tile a {
  color: #fff;
}

.player-info {
  border-radius: 4px;
}

.player-name img {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
  border: 3px solid #fff;
  display: inline-block;
  border-radius: 4px;
  border: 3px solid #ea5b0c;
    float: left;
    margin-left: 20px;
    background-color: #fff;
}
 hr, .player-show hr {
   border: solid #fff;
 border-width: 0 0;
 clear: both;
 height: 0;
 margin:0;

}
.player-show .player-info {
  float: left;
  text-align: left;
  margin-left: 20px;
}
.player-show .player-info  p{
  margin:0;
}
.player_show_comments .stats{
  float: left;
  margin-left: 20px;
}
.comments-container {
  width: 50%;
  margin: 0 auto;
}
.player-show .comments-container .comment-form input {
  border-bottom-color: #b3b3b3;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-left-color: #b3b3b3;
  border-left-style: solid;
  border-left-width: 1px;
  border-right-color: #b3b3b3;
  border-right-style: solid;
  border-right-width: 1px;
  border-top-color: #b3b3b3;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-top-style: solid;
  border-top-width: 1px;
}
.comments-container .comment-form  {
  text-align: left;
}
.comments-container  .username-comment {
  font-family: "Titillium Web",Arial,sans-serif;
  font-weight: 600;

}
.comments-container .comment-form input[type=submit] {
  text-transform: uppercase;
    padding:10px 5px;
    background:#ea5b0c;
    color: #fff;
    cursor:pointer;
    -webkit-border-radius: 8px;
    border: 2px solid #000;
    border-radius: 10px;
    font-family: "Titillium Web",Arial,sans-serif;
    font-weight: 600;
}
.comments-container .comment-form input[type=submit]:hover {
  opacity: 0.5;
}
.delete-comment {
  padding: 10px 5px;
  background: #ea5b0c;
  color: #fff;
  cursor: pointer;
  -webkit-border-radius: 8px;
  border: 2px solid #000;
  border-radius: 10px;
  font-family: "Titillium Web",Arial,sans-serif;
  font-weight: 600;
}
.delete-comment:hover {
  opacity: 0.5;
}
.comment-vote {
  margin-top: 9px;
  border-bottom: 1px solid #ccc;
}
.comment-vote .comment p {
  font-style: italic;
}
.count {
  font-family: "Titillium Web",Arial,sans-serif;
  font-weight: 600;
  color: #ea5b0c;
}
